<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Lerning-Timer</title>
    <link rel="stylesheet" type="text/css" href="/css/timer.css">
    <link rel="stylesheet" type="text/css" href="/css/main-navbar.css">
    <script src="./scripts/main-navbar.js"></script>
    <script type="text/javascript" src="/scripts/timer.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Brand name</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/list">List</a></li>
                <li><a href="/timer">Timer</a></li>
                <li><a href="/notes">Notes</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div>
            <div>
                <h1 id="tracker">00:00:00</h1>
            </div>
            <div>
                <button id="start" class="button">Start</button>
                <button id="stop" class="button">Stop</button>
                <button id="restart" class="button">Restart</button>
                <button id="save" class="button">Save</button>
            </div>
            <div>
                <h2>Habits:</h2>
                <ul id="liste">
                    
                </ul>
                <button id="add" class="button">add Habits</button>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="./scripts/main-navbar.js"></script>
</body>
</html>