

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px;
    justify-items: center;
    font-size: 2em;
}

header {
    display: grid;
    place-items: center;
    font-size: 2em;
}